@media (max-width:680px) {
    .container{
        max-width: 480px;
    }

    header h1{
        font-size: 50px;
        line-height: 60px;
        font-weight: 600;
        width: 80%;
    }

    .pp{
        font-size: 22px;
        width: 95%;
    }

    .now{
        width: 80%;
    }

    .con-us{
        width: 83%;
    }

    .toch{
        flex-wrap: wrap;
    }

    .foot{
        flex-wrap: wrap;
    }
    
}