@media (max-width:1200px) {
    
.container{
    max-width: 1000px;
}

ul{
    display: none;
}

.light{
    flex-wrap: wrap;
}

.email{
    flex-wrap: wrap;
    flex-direction: column;
}

.email input{
    width: 100%;
}

.email .a{
    width: 100%;
}












}